footer {
  /* background-color: red; */
  padding: 10px;
}
@font-face {
  font-family: "ggsans";
  src: url("../fonts/ggsans-ExtraBold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ggsans";
  src: url("../fonts/ggsans-Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ggsans";
  src: url("../fonts/ggsans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ggsans";
  src: url("../fonts/ggsans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

header {
  /* background-color: blue; */
  color: white;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  text-align: center;

  text-shadow: 0px 0px 5px white;
}

.FakeText {
  text-transform: capitalize;
  background: rgb(0, 156, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 156, 255, 1) 0%,
    rgba(0, 199, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 5px rgb(0, 156, 255);
}
nav {
  padding: 10px;
  width: 100%;
  -webkit-backdrop-filter: blur(50%);
  backdrop-filter: blur(50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  font-size: 20px;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
nav > ul > li {
  position: relative;
}
.logoText {
  margin-left: 20px;
}
@media (max-width: 760px) {
  header > p {
    padding: 0px;
  }
}
.text-foreground {
  --tw-text-opacity: 1 !important;
  color: hsl(0deg 0% 100%) !important;
}
.link {
  min-width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

.linkActive {
  background: rgb(0, 156, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 156, 255, 1) 0%,
    rgba(0, 199, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0px 0px 5px rgb(0, 156, 255); */
}
