/* messagePage.css */

.userPanel {
  flex: 0 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
}

p {
  font-family: "ggsans", sans-serif;
}

.messageUsername {
  font-family: "ggsans", sans-serif;
}

.texts-message {
  gap: -20px;
}

.messageMessage {
  transform: translateY(-3px);
  max-width: 70vh;
  white-space: pre-wrap;
  line-height: 1.6;
}

.messageTime {
  font-size: 11px;
  transform: translateY(-3px) scale(1.1);
}

.full-message img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.messages {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #313338;
  padding: 40px;
  width: 50vw;
  border-radius: 20px;
}
.decoration {
  scale: 1.15;
}
.containter {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Style dla urządzeń mobilnych */
@media (max-width: 1480px) {
  .userPanel {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .messageMessage {
    max-width: 30vh;
  }
}
@media (max-width: 760px) {
  .userPanel {
    flex: 0 1 100%;
    max-width: 100%;
    /* width: 100vw; */
  }

  .messageMessage {
    max-width: 12vh;
  }
  .messages {
    width: 90vw;
  }
}
@media (max-width: 480px) {
  .userPanel {
    flex: 0 1 100%;
  }
}
